@page "/"
@using C1.Blazor.Calendar
@using C1.Blazor.Core
@using C1.Blazor.DateTimeEditors
@using System;
@using C1.Blazor.DateTimeEditors.EventArgs
@using C1.Blazor.Input


<a class="btn btn-link" href="/DatePicker">DatePicker</a>
<a class="btn btn-link" href="/DateTimePicker">DateTimePicker</a>