@page "/unbound"
@using C1.Blazor.TreeView
@using C1.Blazor.Core

<h3>@Localization.Resource.Unbound</h3>

<p>@((MarkupString)Localization.Resource.UnBoundTree_Description)</p>

<C1TreeView Class="shadow" SelectionMode="C1SelectionMode.Extended" ExpandMode="TreeViewExpandMode.Single" ShowLines="true">
    
    <TreeViewItem Header="Node 1" IsExpanded="true">
        <TreeViewItem Header="Node 1.1">
            <TreeViewItem Header="Node 1.1.1" />
            <TreeViewItem Header="Node 1.1.2" />
            <TreeViewItem Header="Node 1.1.3" />
        </TreeViewItem>
    </TreeViewItem>
    <TreeViewItem Header="Node 2" />
    <TreeViewItem Header="Node 3" />
    
</C1TreeView>
