<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<DeleteExistingFiles>false</DeleteExistingFiles>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>\\10.41.0.137\Spreadsheet</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<SiteUrlToLaunchAfterPublish />
		<TargetFramework>net8.0</TargetFramework>
		<ProjectGuid>cb8ae903-cdd1-4c90-b605-fb6b322e4540</ProjectGuid>
		<SelfContained>false</SelfContained>
	</PropertyGroup>
</Project>