@using  C1.Blazor.Grid
<h3>DropDownContent</h3>

<FlexGrid>
    <FlexGridColumns>
        <GridColumn Binding="Name" />
        <GridColumn Binding="Code" />
        <GridColumn Binding="Continent" />
    </FlexGridColumns>
</FlexGrid>
@code {

}
