.spreadsheet-header-style {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    margin: -0.5px;
    outline: 0;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    color: #5e5e5e;
    border-color: #bbbbbb;
    justify-content: center;
}
