@page "/FlexChart/ColumnWithNegativeValues"
@using Localization
@using C1.Chart;
@using C1.Blazor.Chart;

<FlexChart Class="chart" ChartType="ChartType.Column" 
           HeaderContent="Balance of trade in 2015 ($Billions) of the United States" HeaderStyle="font-size:24px"
           LegendPosition="Position.Bottom" LegendStyle="font-size:18px"
           BindingX="product" ItemsSource="@DataSource.GetData()">
    <SeriesCollection>
        <Series Name="Exports" Binding="exports" />
        <Series Name="Imports" Binding="imports" />
        <Series Name="Difference" Binding="difference" />
    </SeriesCollection>
</FlexChart>

<_Sections>
    <Title>@FlexChartRes.ColumnWithNegativeValuesTitle</Title>
    <Summary>@FlexChartRes.ColumnWithNegativeValuesSummary</Summary>
    <Description>@FlexChartRes.ColumnWithNegativeValuesDescription</Description>
</_Sections>

@code {

    public class DataSource
    {
        public static List<object> GetData()
        {
            return new List<object> {
                new {
                    product = "Electronic equipment",
                    imports= 332.9,
                    exports= 169.8,
                    difference= -163.1
                },
                new {
                    product= "Vehicles",
                    imports= 283.8,
                    exports= 127.1,
                difference= -146.7
                },
                new {
                    product= "Fuel",
                    imports= 201.2,
                    exports= 106.1,
                    difference= -95.1
                },
                new {
                    product= "Pharmaceuticals",
                    imports= 86.1,
                    exports= 47.3,
                    difference= -38.8
                },
                new {
                    product= "Plastics",
                    imports= 50.2,
                    exports= 60.3,
                    difference= 10.1
                },
                new {
                    product= "Aircraft/Spacecraft",
                    imports= 35.3,
                    exports= 131.1,
                    difference= 95.8
                }
            };
        }
    }
}
