@page "/"
@using C1.Blazor.ListView
@using C1.Blazor.Accordion
@using C1.Blazor.Core
@using C1.Blazor.Input

<p>
    Expand Modes <C1ComboBox ItemsSource="expandModes" @bind-SelectedItem="expandMode" />
</p>

<C1Accordion ExpandMode="expandMode">
    <AccordionItem Header="Header1">
        <C1ListView ItemsSource="customers" DisplayMemberPath="Name" T="Customer" Style="@("max-height:200px")" />
    </AccordionItem>
    <AccordionItem Header="Header2">
        <C1ListView ItemsSource="customers" DisplayMemberPath="Name" T="Customer" Style="@("max-height:200px")" />
    </AccordionItem>
    <AccordionItem Header="Header3">
        <C1ListView ItemsSource="customers" DisplayMemberPath="Name" T="Customer" Style="@("max-height:200px")" />
    </AccordionItem>
</C1Accordion>
@code
{
    ExpandMode expandMode = ExpandMode.One;
    ExpandMode[] expandModes = new ExpandMode[] { ExpandMode.One, ExpandMode.Collapsible, ExpandMode.Any };
    bool isChecked;
    IEnumerable<Customer> customers;

    protected override void OnInitialized()
    {
        customers = Customer.GetCustomerList(100);
    }
}
