@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="navbar-brand" src="images/FlightIcon_200X200.png" alt="" style="vertical-align:central" />
                    <div class="navbar-brand">Flight Statistics</div>
                </div>
            </div>
        </div>

        <div class="content px-4" style="padding-top:50px">
            @Body
        </div>

    </div>
</div>
